body {
    font-size: 18px;
    font-family: 'Monda', sans-serif;
    background-color: #f7f7f7;
}

#jen {
    float: left;
    margin: 0px 50px 5px 0px;
}

header {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
    color: #456143;
    text-align: center;
}

.pics {
  width: 400px;
  margin: 10px;
}

#contents-wrapper {
  float: right;
  margin-top: 25px;
}

.portfolio-items {
  text-align: center;
}

.section.scrollspy {
  margin-top: 50px;
}

#resume {
  float: right;
  margin-right: 100px;
  text-align: center;
}

#contact {
  float: left;
  margin-left: 100px;
  text-align: center;
}

/* unvisited link */
a:link {
  color:#9abf94;
}
  
/* visited link */
a:visited {
  color: #456143;
}
  
/* mouse over link */
a:hover {
  color: #456143;
}
  
/* selected link */
a:active {
  color: #fff69b;
}

footer {
  padding: 25px;
  text-align: center;
}

#phone {
  margin-top: 15px;
}

@media only screen and (max-width: 1200px) {
  .pics {
    width: 375px;
  }
}

@media only screen and (max-width: 1100px) {
  .pics {
    width: 350px;
  }
}

@media only screen and (max-width: 1030px) {
  .pics {
    width: 325px;
  }
}

@media only screen and (max-width: 992px) {
  #contents-wrapper {
    float: right;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #jen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  #resume {
    text-align: center;
    float: none;
    margin-right: auto;
  }
  
  #contact {
    text-align: center;
    float: none;
    margin-left: auto;
  }

}