/* GLOBAL SETTINGS */
body {
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  line-height: 1.4;
}

h1, h2, h3, h4, h6 {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4 {
  text-align: left;
  font-size: 50px !important;
}

h5 {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  text-align: left;
}

.sub-sub {
  font-size: 35px !important;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25px;
}
  
/* mouse over link */
a:hover {
  color:white;
}
  
/* selected link */
a:active {
  color: #333333;
}

/* navbar scrollspy contents buttons */
#contents-wrapper {
  overflow: hidden;
  z-index: 4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.subtitle-center {
  text-align: center;
  padding: 50px 0 20px 0;
}

.nav-wrapper a{
  color: #121212 !important;
}  

.nav-wrapper {
  background-color: rgba(0,0,0,0);

}

nav ul {
  padding-right: 5%;
}

nav ul li {
  font-weight: 600;
}

nav ul li:hover {
  background: rgba(0,0,0,0.1);
}

/* sidenav settings */
.sideStick {
  position: fixed;
  top: 0;
  width: 100%;
}

.sideStick + .content {
  padding-top: 60px;
}

.role-pad {
  padding-top: 5px;
}

.brand-logo {
  padding-left: 20px !important;
  font-family: 'Poiret One', sans-serif;
}

.sidenav-trigger {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 6;
  color: #121212;
  padding-top: 18px;
  padding-left: 18px;
}

/* page sections */
#pic-section, #about-section, #project-section, #case-section {
  overflow: auto;
}

#home-section {
  overflow: auto;
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  line-height: 1;
  height: 700px;
}

#skills-section {
  overflow: auto;
  /* background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%); */
  line-height: 1;
}

#contact-section {
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  overflow: auto;
}

/* scroll points for scrollspy navbar */
#home {
  margin-top: -80px;
  overflow: auto;
}

#about, #skills, #projects{
  margin-top: 140px;
  margin-bottom: 350px;
  width: 100%;
}

#contact, #contact2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* HOME SECTION */
/* Desktop */
#jen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 20%;
  border: 2px solid #031d2a;
}

.overlay1 {
  text-align: center;
  margin-top: 30vh;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #121212;
  font-size: 6.5vw;

}

.overlay2 {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-size: 2vw;  
  letter-spacing: 7px;
  padding: 0px 0 15px 0;

}

#blurb1 {
  text-align: left;
  font-size: 1.5vw;
  line-height: 1.2;
  color: #121212;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;


}

/* Tablet/Mobile */
/* #jen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  margin-top: 7vh;
  border: 2px solid #031d2a;
} */

/* .overlay3 {
  margin: auto;
  margin-top: 10vh;
  width: 90%;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 4.25 vw;
  font-weight: light;
  text-align: center;
}

.overlay4 {
  margin: auto;
  padding: 10px 0 10px 0;
  width: 90%;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #Fff;
  font-size: 1.25 vw;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 500;
}

#blurb2 {
  text-align: center;
  font-size: 18px;
  margin: auto;
  margin-top: 6px;
  width: 68%;
  color: #Fff;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* PROJECTS SECTION  */
.card {
  margin: 20px !important;
}

.card-action {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card-title {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 20px !important;
}

.card-skills {
  font-weight: 600;
}

.card-content {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  height: 220px;
}

#guru-pic {
  padding-top: 20px;
}

/* SKILLS SECTION   */
.rectangle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #FFFEFA;
}

.each-logo {
  height: 60px;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-title {
  padding: 20px !important;
}

.wrap-one {
  text-align: center !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 12px;
} 

/* ABOUT SECTION   */
.text-block-a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  width: 80%;
}

.light-grey-text {
  color: whitesmoke;
  }

/* CONTACT SECTION */
#contact-title {
  padding-bottom: 10px;
}

#logo-jf {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100px;
  padding: 5px;
  /* border: 1px solid #121212; */
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* logo link icons */
#email-link {
  color: #121212;
}

#email-link:hover {
  color: #fff;
}

#phone {
  position: relative;
  top: 1px;
  padding-right: 20px;
  height: 30px;
}

#github {
  position: relative;
  top: 1px;
  padding-right: 20px;
  height: 30px;
}

#linkedin {
  position: relative;
  top: 1px;
  margin-top: 20px;
  margin-left: 5px;
  height: 27px;
}

#phone:hover {
  filter:  brightness(0) invert(1);
}

#github:hover {
  filter:  brightness(0) invert(1);
}

#linkedin:hover {
  filter: brightness(0) invert(1);
}

#copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#contact-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #031d2a;
  overflow: auto;
}

/* REDO GURU PAGE */
.text-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  width: 100%;
  padding: 10px 0 20px 0;
}

.sub-sub2 {
  text-align: center;
  font-size: 35px !important;
  padding-top: 60px;
  padding-bottom: 20px;
}

.sub-sub3 {
  font-size: 20px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-weight: 500;
  padding-bottom: 10px;
}

.sub-sub4 {
  font-size: 20px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-weight: 500;
  padding-bottom: 10px;
  margin-top: -50px;
  line-height: 1.4;
}

.sub-sub5 {
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top: 60px;
  line-height: 1.4;
}

.sub-sub6 {
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: -20px;
  line-height: 1.4;
}

#redo-pic1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
 margin: 40px 0 40px 0;
 float: right;
}

/* .img-background { */
  /* background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%); */
/* } */

#img-top {
  overflow: auto;
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  line-height: 1;
}

#top-wrapper {
  padding-top: 30vh;
  height: 950px;
}

#case {
  margin-bottom: 200px;
  width: 100%;
  margin-top: -100px;
}

#case-section {
  margin-top: -80px;
  overflow: auto;
}

.survey-wrapper {
  padding: 0px 50px 20px 50px;
}

.persona-wrapper {
  padding: 0px 0px 40px 0px;
}

.survey-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 20px;
}

.persona-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}

.participants-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 69%;
  padding-top: 5px;
  padding-bottom: 25px;
}

#wire-pics1, #wire-pics2, #wire-pics3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#wire-pics3 {
  padding-bottom: 50px !important;
}



#mock-pics1, #mock-pics2, #mock-pics3, #mock-pics4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-bottom: 50px;
}

#mock-pics4 {
  padding-bottom: 50px;
}

#proto-pic1, #proto-pic2, #proto-pic3, #proto-pic4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#proto-pic1:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic2:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic3:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic4:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.proto-text {
  text-align: center;
  padding-bottom: 10px;
}

#affinity {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px 0px 20px 0px;
}

#flow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 40px 50px 40px 50px;
}

.bullet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 15px;
}

.bullet2 {
  margin-top: 15px;
}

.materialboxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.DS-pic {
  padding-top: 20px;
}

.indicator-item {
  width: 15px !important;
  height: 15px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#D-System {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  padding: 40px 0 40px 0;
}

.indent-words {
  width: 80%;
}

#problem {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 1.2;
  color: #121212;
  padding: 30px 80px 30px 80px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}


@media only screen and (max-width: 1500px) {
/* .overlay1 {
  font-size: 4.65vw;
}

.overlay2 {
  font-size: 1.65vw;  
}

#blurb1 {
  font-size: 1.65vw;
} */
}

/* @media only screen and (max-width: 1266px) { */
/* .overlay1 {
  font-size: 4.75vw;
}
  
.overlay2 {
  font-size: 1.75vw;
  width: 60%;  
}
  
#blurb1 {
   font-size: 1.75vw;
 }} */

@media only screen and (max-width: 1214px) {
  .card-content {
  height: 260px;
}
}

@media only screen and (max-width: 1200px) {
  /* .overlay1 {
    font-size: 4.85vw;
  }
  
  .overlay2 {
    font-size: 1.85vw;
  
  }
  
  #blurb1 {
    font-size: 1.85vw;
  } */

  #redo-pic1 {
    height: 55vh;
    margin-top: 100px;
  }
  }

 @media only screen and (max-width: 1100px) { 

/* #jen1 {
  width: 275px;
  margin-top: 28vh;
}
.overlay1 {
  font-size: 4.95vw;
}
    
.overlay2 {
  font-size: 1.95vw;
    
}
    
#blurb1 {
  font-size: 1.95vw;
} */

#redo-pic1 {
  height: 50vh;
  margin-top: 125px;
}
}

@media only screen and (max-width: 1053px) {
#top-wrapper {
height: 750px;
}
}

@media only screen and (max-width: 1042px) { 
  /* .overlay2 {
    width: 70%;
  } */
  }

@media only screen and (max-width: 1030px) {
  .card-content {
  height: 285px;
}
}

@media only screen and (max-width: 1001px) {
  .card-content {
  height: 310px;
}
}

@media only screen and (max-width: 992px) {

  #redo-pic1 {
    clear: both !important;
    display: block !important;
margin-left: auto !important;
margin-right: auto !important;
width: 100%;
height: auto;
margin-top: 50px;
  }

  #top-wrapper {
    height: auto;
    }

.text-block {
    width: 100%;
}

.proto-text{
padding-top: 20px;
}

.proto-image {
  width: 50% !important;
}

h4 {
  padding-bottom: 70px;
}

.card {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important; 
}

.card-content {
  height: 200px;
}

/* .overlay3 {
  font-size: 5vw;
  padding: 0px 0 10px 0;
}

.overlay4 {
  width: 40%;
  font-size: 2vw;
}

#jen2 {
  margin-top: 20px;
  margin-bottom: 20px;

}

#blurb2 {
  font-size: 20px;
  width: 50%;
  text-align: left;
  line-height: 1.5;
} */

/* .parallax-container {
  height: 670px !important;
} */

}

@media only screen and (max-width: 920px) {
/* .overlay3 {
  font-size: 5.25vw;
}

.overlay4 {
  font-size: 2.25vw;
 width: 50%;
}

#blurb2 {
  font-size: 19px;
} */

}

@media only screen and (max-width: 800px) {
/* .overlay3 {
  font-size: 5.5vw;
}

.overlay4 {
  font-size: 2.5vw;
 width: 50%;
}

#blurb2 {
  font-size: 18px;
} */
  }

  @media only screen and (max-width: 744px) {  
    /* .overlay4 {
      font-size: 2.75vw;
     width: 60%;
    } 

    .overlay3 {
      font-size: 5.75vw;
    }  
    
    #blurb2 {
     width: 60%;
    } */
    }

@media only screen and (max-width: 741px) {
.card-content {
  height: 210px;
}

.each-logo {
  height: 40px;
}

.skill-descrip {
  font-size: 12px;
}

}

@media only screen and (max-width: 687px) {
  .card-content {
    height: 235px;
  }

  /* .overlay4 {
    font-size: 3vw;
   width: 60%;
  } 

  .overlay3 {
    font-size: 6vw;
  }   */
  
  }

@media only screen and (max-width: 600px) { 
  .card {
    width: 90% !important; 
  }

  .card-content {
    height: 230px;
  }

  .rectangle {
    width: 40%;
  }

  /* .overlay3 {
    font-size: 6.5vw;
  } 

  .overlay4 {
    font-size: 3.25vw;
   width: 70%;
  }  */
}

@media only screen and (max-width: 550px) { 
.rectangle {
  width: 50%;
}

/* .overlay3 {
  font-size: 40px;
} 

.overlay4 {
  font-size: 3.5vw;
 width: 70%;
} 

#blurb2 {
  font-size: 17px;
  width: 70%;
} */
}

@media only screen and (max-width: 470px) {
.card-content {
  height: 260px;
}

/* #jen2 {
  width: 150px;
}

#blurb2 {
  font-size: 16px;
}

.parallax-container {
  height: 620px !important;
} */
}

@media only screen and (max-width: 462px) {
/* .overlay4 {
 width: 80%;
}

.overlay3 {
  font-size: 35px;
}  */
}

@media only screen and (max-width: 450px) {
  .rectangle {
    width: 60%;
  }
}

@media only screen and (max-width: 450px) {
/* .overlay3 {
  font-size: 30px;
}  */
}

@media only screen and (max-width: 392px) {
  .card-content {
    height: 350px;
  }
  }

  @media only screen and (max-width: 350px) {
  /* .parallax-container {
    height: 650px !important;
  } */
}

@media only screen and (max-width: 331px) {
  .card-content {
    height: 375px;
  }
  }

  @media only screen and (max-width: 291px) {
    .card-content {
      height: 450px;
    }

    .rectangle {
      width: 80%;
    }
    }